.login{
    width: 100vw;
    height: 100vh;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;    

}

.loginWrapper{
    width: 70%;
    height: 70%;
    display: flex;
}

.loginLeft, .loginRight{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loginLogo{
    font-size: 50px;
    font-weight: 800;
    color: rgb(51, 48, 176);
    margin-bottom: 10px;
}

.loginDesc{
    font-size: 24px;
    text-align: justify;

}

.loginBox{
    height:300px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.loginError{
    color: red;
    font-size: 14px;
    text-align: center;
    padding: 10px;
    background-color: #ffebee;
    border-radius: 5px;
    margin-bottom: 10px;
}

.loginInput{
    height: 50px;
    border-radius: 10px;
    border: 1px solid lightgray;
    padding-left: 20px;
    font-size: 18px;
}

.loginInput:focus{
    outline: none;
}

.loginButton{
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: rgb(51, 48, 176);
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.loginButton:hover{
    background-color: rgb(41, 38, 146);
}

.loginButton:disabled{
    background-color: #ccc;
    cursor: not-allowed;
}

.loginForgot{
    text-align: center;
    font-size: 14px;
    color: rgb(51, 48, 176);
    cursor: pointer;
     
}

.loginRegisterButton{
    width:60%;
    align-self: center;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #42b72a;
    color: white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
